.letterform {
    position: relative;
    width: 76px;
    height: 40px;
}

/* Letter B */
.letterBContainer {
    position: absolute;
    width: 28px;
    height: 40px;
    left: 0px;
    top: 0px;
}

.bWhite {
    position: absolute;
    width: 28px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.bGray {
    position: absolute;
    width: 28px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #616161;
}

.rect7 {
    position: absolute;
    width: 40px;
    height: 8px;
    left: 0px;
    top: 0px;
    background: #616161;
    transform: rotate(90deg);
    transform-origin: top left;
}

.rect8 {
    position: absolute;
    width: 20px;
    height: 8px;
    left: 20px;
    top: 0px;
    background: #616161;
    transform: rotate(90deg);
    transform-origin: top left;
}

.rect16 {
    position: absolute;
    width: 20px;
    height: 8px;
    left: 20px;
    top: 20px;
    background: #616161;
    transform: rotate(90deg);
    transform-origin: top left;
}

.rect14 {
    position: absolute;
    width: 28px;
    height: 8px;
    left: 0px;
    top: 16px;
    background: #616161;
}

.rect15 {
    position: absolute;
    width: 24px;
    height: 8px;
    left: 0px;
    top: 32px;
    background: #616161;
}

.rect9 {
    position: absolute;
    width: 8px;
    height: 24px;
    left: 0px;
    top: 0px;
    background: #616161;
    transform: rotate(90deg);
    transform-origin: top left;
}

.rect23 {
    position: absolute;
    width: 4px;
    height: 8px;
    left: 23.02px;
    top: -3.81px;
    background: #D9D9D9;
    transform: rotate(-45deg);
}

.rect28B {
    position: absolute;
    width: 4px;
    height: 8px;
    left: 23.75px;
    top: 34.59px;
    background: #D9D9D9;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

/* Letter S */
.letterSContainer {
    position: absolute;
    width: 44px;
    height: 40px;
    left: 32px;
    top: 0px;
}

.sWhite {
    position: absolute;
    width: 44px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.sGray {
    position: absolute;
    width: 44px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #616161;
}

.rect12 {
    position: absolute;
    width: 8px;
    height: 24px;
    left: 36px;
    /* 68px relative to parent - 32px offset */
    top: 16px;
    background: #616161;
}

.rect13 {
    position: absolute;
    width: 8px;
    height: 16px;
    left: 28px;
    /* 60px - 32px */
    top: 32px;
    background: #616161;
    transform: rotate(-90deg);
    transform-origin: top left;
}

.rect11 {
    position: absolute;
    width: 24px;
    height: 44px;
    left: 0px;
    /* 32px - 32px */
    top: 0px;
    background: #616161;
    transform: rotate(-90deg);
    transform-origin: top left;
}

.rect28S {
    position: absolute;
    width: 4px;
    height: 8px;
    left: 39.76px;
    /* 71.76 - 32 */
    top: 34.59px;
    background: #D9D9D9;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

.rect29 {
    position: absolute;
    width: 4px;
    height: 8px;
    left: 38.62px;
    /* 70.62 - 32 */
    top: 11.79px;
    background: #D9D9D9;
    transform: rotate(-45deg);
}

.rect25 {
    position: absolute;
    width: 4px;
    height: 8px;
    left: -3.31px;
    /* 28.69 - 32 = -3.31 */
    top: 19.52px;
    background: #D9D9D9;
    transform: rotate(-45deg);
}

.rect24 {
    position: absolute;
    width: 4px;
    height: 8px;
    left: -3.47px;
    /* 28.53 - 32 = -3.47 */
    top: -3.84px;
    background: #D9D9D9;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

/* Letter n */
.letterNContainer {
    position: absolute;
    width: 24px;
    height: 12px;
    left: 32px;
    top: 28px;
}

.nWhite {
    position: absolute;
    width: 24px;
    height: 12px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.nGray {
    position: absolute;
    width: 24px;
    height: 12px;
    left: 0px;
    top: 0px;
    background: #616161;
}

.rect27 {
    position: absolute;
    width: 4px;
    height: 8px;
    left: 18.89px;
    /* 50.89 - 32 = 18.89 */
    top: -3.94px;
    /* 24.06 - 28 = -3.94 */
    background: #D9D9D9;
    transform: rotate(-45deg);
}

.rect26 {
    position: absolute;
    width: 4px;
    height: 8px;
    left: -3.48px;
    /* 28.52 - 32 = -3.48 */
    top: -3.83px;
    /* 24.17 - 28 = -3.83 */
    background: #D9D9D9;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}