@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-bebas-neue: 'Bebas Neue', sans-serif;
        --font-inter: 'Inter', sans-serif;
    }
}

body {
    background: #0F0F0F;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}